* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  margin: 50px auto 0;
  font-family: Amita, sans-serif;
  color: #000000;
  font-size: 4rem;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#game {
  margin: 20px auto 40px auto;
  padding: 10px;
  width: 700px;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  perspective: 800px;
  grid-gap: 2rem;
  cursor: pointer;
}
.card {
  border: 1px solid rgba(47, 60, 98, 0.422);
  transition: transform 1.2s ease;
  transform-style: preserve-3d;
  position: relative;
}
.face,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  box-shadow: 5px 7px 15px rgba(8, 36, 57, 0.429);
  pointer-events: none;
}

.flip {
  transform: rotateY(180deg);
}
.match {
  transform: rotateY(180deg);
}

.back {
  background-image: url("https://plus.unsplash.com/premium_photo-1673296935609-924aa6176a48?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  backface-visibility: hidden;
  /* -webkit-backface-visibility: hidden; */
  overflow: hidden;
}
